<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div class="mi-button">
          <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
        </div>
        <a class="navbar-brand" href="{% url 'productos' %}">Productos</a>
        <a class="navbar-brand" href="{% url 'proveedores' %}">Proveedores</a>
        <a class="navbar-brand" href="{% url 'compras' %}">Compras</a>
        <a class="navbar-brand" href="{% url 'stock' %}">Stock</a>
        <a class="btn btn-primary" href="#signup">Iniciar</a>
    </div>
  </nav>