{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
  
  <p>Consulta de proveedores por CUIT: {{cuit}}</p>
 
  {% if proveedor %}
    <ul>
       {% for proveedor in Proveedores %}
         <li>
           <p>Cuit: {{proveedor.Cuit}} 
              Razón social: {{proveedor.razon_social}}
              Domicilio: {{proveedor.domicilio}}
           </p>   
         </li>
       {% endfor %}
    </ul>
  
  {% endif %}
{% endblock contenidoQueCambia %}